.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-width: 400px;
    margin: 0 auto;
    border-radius: 25px;
    /*background: var(--mainBackground);*/
    font-family: 'Roboto Slab', serif;
    /*color: var(--mainColor);*/
    line-height: 150%;
    font-size: 14px;
    overflow: hidden;
    position: relative;
}

.container main{
    flex: 1 0 auto;
}
